body{
    background-color: darkgreen;
}


.mainbox{
    background-color: darksalmon;
    width: 1600px;
    margin: 10px auto;
    text-align: center;
}

.menu{
    background-color: gold;
    top: 100px;
    width: 800px;
    height: 100px;
    text-align: center;
}

.leftside{
    background-color: cyan;
    width: 100px;
    float: left;
}

.main{
    background-color: blueviolet;
    width: 800px;
    height: 300px;
}

.rightside{
    background-color: antiquewhite;
    width: 100px;
    float: right;
}

.footer{
    background-color: darkred;

}
.menu>ul>li{
    display: inline;
    padding: 7px 7px 7px 7px;
    background-color: brown;
    position: relative;
    top: 8px;
    font-family: Tahoma, serif;
    font-size: 14px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.menu a:hover{
    padding:10px 10px 10px 10px;
}
img{
    size: 20px;
}